<div class="small-12 medium-8 large-8">

    <section class="articlespage">
            <h1>The latest articles by Dr. Chomsky</h1>
            <ul>
            <li><a href="http://www.chomsky.info/articles/20131204.htm">The Dangerous Rogue States Operating in the Mideast | U.S. and Israel</a>.</li> 		
            <li>Alternet. December 4. 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20131105.htm">De-Americanizing the World</a>.</li>
            <li>Truthout. November 5, 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20131024.htm">The one state/two state debate is irrelevant as Israel and the US consolidate Greater Israel</a>.</li>
            <li>Mondoweiss. October 24, 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20131001.htm">Hidden Power and Built Form: The Politics Behind the Architecture</a>.</li> 			
            <li>Architecture_MPS. October 1, 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20130902.htm">Why the Israel-Palestine 'Negotiations' Are a Complete Farce</a>.</li>
            <li>Alternet. September 2, 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20130816.htm">Israel's West Bank plans will leave Palestinians very little</a>.</li>
            <li>CNN.com. August 16, 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20130604.htm">Humanity Imperiled: The Path to Disaster</a>.</li>
            <li>TomDispatch.com. June 4, 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20130305.htm">Can Civilization Survive Capitalism?</a></li>
            <li>Alternet. March 5, 2013.</li>
            <li><a href="http://www.chomsky.info/articles/20121104.htm">Impressions of Gaza.</a></li> 
            <li>chomsky.info. November 4, 2012.</li>
            <li><a href="http://www.chomsky.info/articles/20121015.htm">The Week the World Stood Still: The Cuban Missile Crisis and Ownership of the World.</a></li>
            <li>Tomdispatch.com. October 15, 2012.</li>
            <li><a href="http://www.chomsky.info/articles/20121005.htm">Issues that Obama and Romney Avoid.</a></li>
            <li>Truthout. October 10, 2012.</li>
            </ul>
            
	</section><!--This ends section class="articlespage"-->

</div>

<div class="small-12 medium-4 large-4 columns">
    
    <section class="biosection">
            
            <p>Born in Philadelphia on December 7, 1928, Noam Chomsky was an intellectual prodigy who went on to earn a PhD in linguistics at the University of Pennsylvania.</p>
            
            <a href="/bio">Read More</a>
            
    </section><!--This ends section class="biosection"-->
    
</div><!--This ends the second div class-->

<div class="small-12 medium-4 large-4 columns">
        
    <section class="offers2">
    
		<h1><span class="title1">Manufacturing</span><br /><span class="title2">Consent</span></h1>
        
         <p>25 Year <br />Anniversary <br /> Edition</p>
         <a href="/offers">Get Yours</a>
      </section><!--This ends section class="offer"-->
            
</div><!--This ends the second div class-->
        
<div class="small-12 medium-4 large-4 columns">
      <section class="books2">
            <h2>Hundreds of books published that bring forth the facts.</h2>
                <a href="/books">Find One</a>
      </section><!--This ends section class="books2"-->
            
</div><!--This ends the third div class-->