<div class="small-12 medium-8 large-8 columns">

    <section class="biopage">
            <h1>The Life of Noam Chomsky</h1>
            <p>Born in Philadelphia on December 7, 1928, Noam Chomsky was an intellectual prodigy who went on to earn a PhD in linguistics at the University of Pennsylvania. Since 1955, he has been a professor at MIT and has produced groundbreaking, controversial theories on human linguistic capacity. Chomsky is widely published, both on topics in his field and on issues of dissent and U.S. foreign policy.</p>
            
    
    
    <p>Noam Chomsky was a brilliant child, and his curiosities and intellect were kindled greatly by his early experiences. Born in Philadelphia on December 7, 1928, Chomsky felt the weight of America's Great Depression. He was raised with a younger brother, David, and although his own family was middle-class, he witnessed injustices all around him. One of his earliest memories consisted of watching security officers beat women strikers outside of a textile plant.</p>
    
    <p>His mother, Elsie Chomsky, had been active in the radical politics of the 1930s. His father, William, a Russian Jewish immigrant like his mother, was a respected professor of Hebrew at Gratz College, an institution for teacher’s training. By the age of 10, while attending a progressive school that emphasized student self-actualization, Chomsky had written a student newspaper editorial on the rise of fascism in Europe after the Spanish Civil War. Amazingly, his story was substantially researched enough to be the basis for a later essay he would present at New York University.</p>
    
    <p>By the age of 13, he was traveling from Philadelphia to New York, spending much of his time listening to disparate perspectives hashed out by adults over cigarettes and magazines at his uncle’s newsstand at the back of a 72nd Street subway exit. Chomsky greatly admired his uncle, a man of little formal education, but someone who was wildly smart about the world around him. Chomsky’s current political views spring from this type of lived-experience stance, positing that all people can understand politics and economics and make their own decisions, and that authority ought to be tested before being deemed legitimate and worthy of power.</p>
    
    <h2>Undergraduate Work and Marriage</h2>
    
    <p>Just as World War II was coming to a close, Chomsky began his studies at the University of Pennsylvania. He found little use for his classes until he met Zellig S. Harris, an American scholar touted for discovering structural linguistics (breaking language down into distinct parts or levels). Chomsky was moved by what he felt language could reveal about society. Harris was moved by Chomsky’s great potential and did much to advance the young man’s undergraduate studies, with Chomsky receiving his B.A. and M.A in nontraditional modes of study.</p>
    
    <p>Harris introduced Chomsky to Nathan Fine, a Harvard mathematician, and two philosophers, Nelson Goodman and Nathan Salmon. Although an industrious student of Goodman, Chomsky drastically disagreed with his approach. Goodman believed the human mind was a blank slate, whereas Chomsky believed the basic concepts of language were innate in every human’s mind and then only influenced by one’s syntactical environment.</p>
    
    <p>His 1951 master’s thesis was titled The Morphophonemics of Modern Hebrew.</p>
    
    <p>In 1949, Chomsky married Carol Schatz, a woman he had known since they were both kids. The relationship lasted for 59 years, until she died from cancer in 2008. They had three children together and Schartz worked as an educational specialist in the field of language acquisition in children. For a short time, between Chomsky’s masters and doctoral studies, the couple lived on a kibbutz in Israel. When they returned,
    
    
    Chomsky continued at the University of Pennsylvania and executed some of his research and writing at Harvard University. His dissertation eventually explored several linguistic ideas he would soon lay out in one of his best-known books on linguistics, Syntactic Structures (1957).</p>
    
    <h2>Professoinal Career</h2>
    
    <p>The professorial staff at Massachusetts Institute of Technology (MIT) invited him to join their ranks in 1955. He has now worked in the Department of Linguistics & Philosophy at MIT for over half a century. For his academic pursuits, he has received a multitude of honorary degrees from universities as far flung as the University of Calcutta to the University of Chicago.</p>
    
    
    
    <p>Chomsky’s ideas have never been regulated to language alone. His awards for peace and public intellect are just as impressive. In 1967, The New York Review of Books published his essay, "The Responsibility of Intellectuals." In light of the Vietnam War, which Chomsky adamantly opposed, he addressed what he saw as a disgracefully resigned intellectual community, a community of which he was an embarrassed member, with the hope of igniting his peers into deeper thought and action. Weaving between the world of academia and popular culture, Chomsky has gained a reputation for both his linguistic discoveries and his radical ideas.</p>
    
    
    <p>As a professor, he introduced transformational grammar to the field. His theory asserts that languages are innate and that the differences we see are only due to parameters developed over time in our brains, helping to explain why children are able to learn different languages more easily than adults. One of his most famous contributions to linguistics is what his contemporaries have called the Chomsky Hierarchy, a division of grammar into groups, moving up or down in their expressive abilities. These ideas have had huge ramifications for modern psychology, both raising and answering questions about human nature and how we process information.</p>
    
    <p>&copy; 2013 A+E Networks. All rights reserved.                                                                                                                       Like Dr. Chomsky's Facebook page to stay updated on his recent works and projects. Leave comments and stay involve.</p>
            
        </section><!--This ends section class="biopage"-->
        
        </div><!--This ends the first div-->
        
        <div class="small-12 medium-4 large-4 columns">
    
    	<section class="offers2">
        	<h1><span class="title1">Manufacturing</span><br /><span class="title2">Consent</span></h1>
        	<p>25 Year <br />Anniversary <br /> Edition</p>
            <a href="/offers">Get Yours</a>
    	</section><!--This ends section class="offer"-->
        
    </div><!--This ends the second div class-->
    
    <div class="small-12 medium-4 large-4 columns">
        <section class="books2">
            	<h2>Hundreds of books published that bring forth the facts.</h2>
                <a href="/books">Find One</a>
            </section><!--This ends section class="books2"-->
            
     </div><!--This ends the third div class-->
        
     <div class="small-12 medium-4 large-4 columns">      
            <section class="articles2">
            	<h3>Enough articles to fill up your local newspaper, now matter where you live.</h3>
                <a href="/articles">The Latest</a>
            </section><!--This ends section class="articles"-->
            
      </div><!--This ends the fourth div class-->
            