<div class="small-12 medium-8 large-8">

    <section class="bookpage">
        
        <h1>On Western Terrorism: From Hiroshima to Drone Warfare</h1>
        <p>In On Western Terrorism Noam Chomsky, world renowned dissident intellectual, discusses Western power and propaganda with filmmaker and investigative journalist Andre Vitchek. The discussion weaves together a historical narrative with the two men's personal experiences which led them to a life of activism.</p>
        <a href="http://www.amazon.com/On-Western-Terrorism-Hiroshima-Warfare/dp/0745333877">Buy Now</a>
      
        
        <h1>Power Systems</h1>
        <p>n this new collection of conversations, conducted from 2010 to 2012, Noam Chomsky explores the most immediate and urgent concerns: the future of democracy in the Arab world, the implications of the Fukushima nuclear disaster, the European financial crisis, the breakdown of American mainstream political institutions, and the rise of the Occupy movement.</p>
        <a href="http://www.amazon.com/Power-Systems-Conversations-Democratic-Challenges/dp/0805096159/ref=sr_1_1?s=books&ie=UTF8&qid=1386577731&sr=1-1&keywords=power+systems">Buy Now</a>
        
        <h1>Occupy, Brooklyn</h1>
        <p>In this updated and expanded edition of Occupy, Chomsky speaks to and with supporters of the Occupy movement about the structural injustices of the current economic and political system and the prospects for real change.</p>
        <a href="http://www.amazon.com/Occupy-Reflections-Rebellion-Solidarity-Occupied/dp/1884519253/ref=sr_1_1?s=books&ie=UTF8&qid=1386577783&sr=1-1&keywords=occupy">Buy Now</a>
        
        <h1>The Science of Language</h1>
        <p>In dialogue with James McGilvray, Professor of Philosophy at McGill University, Chomsky takes up a wide variety of topics: the nature of language, the philosophies of language and mind, morality and universality, science and common sense, and the evolution of language. McGilvray's extensive commentary helps make this incisive set of interviews accessible to a variety of readers.</p>
        <a href="http://www.amazon.com/Science-Language-Interviews-James-McGilvray/dp/1107602408/ref=sr_1_1?s=books&ie=UTF8&qid=1386577895&sr=1-1&keywords=The+science+of+language">Buy Now</a>
        
        <h1>A New Generation</h1>
        <p>This expanded and updated edition is timely as the West weighs intervention in Libyan civil war. Discussions of Libyan intervention involved the international principle of the right to protect. Chomsky dissects the meaning and uses of this international instrument in a new chapter.</p>
            <a href="http://www.amazon.com/New-Generation-Draws-Line-Responsibility/dp/1612050743/ref=sr_1_2?s=books&ie=UTF8&qid=1386577967&sr=1-2&keywords=a+new+generation+chomsky">Buy Now</a>
	</section><!--This ends section class="bookpage"-->
    
</div>
        
        
        <div class="small-12 medium-4 large-4 columns">
    <section class="biosection">
            <p>Born in Philadelphia on December 7, 1928, Noam Chomsky was an intellectual prodigy who went on to earn a PhD in linguistics at the University of Pennsylvania.</p>
            <a href="/bio">Read More</a>
    </section><!--This ends section class="biosection"-->
</div><!--This ends the second div class-->

 <div class="small-12 medium-4 large-4 columns">
        
            <section class="offers2">
                <h1><span class="title1">Manufacturing</span><br /><span class="title2">Consent</span></h1>
                <p>25 Year <br />Anniversary <br /> Edition</p>
                <a href="/offers">Get Yours</a>
            </section><!--This ends section class="offer"-->
            
        </div><!--This ends the second div class-->
        
     <div class="small-12 medium-4 large-4 columns">      
            <section class="articles2">
            	<h3>Enough articles to fill up your local newspaper, now matter where you live.</h3>
                <a href="/articles">The Latest</a>
            </section><!--This ends section class="articles"-->
            
      </div><!--This ends the third div class-->