<footer>
	
	<section class="buttons">
    
            	<ul class="buttons1">
                	<div class="small-12 medium-4 large-4 columns">
                	<li id="amazon"><a href="http://www.amazon.com/">Amazon</a></li></div>
                    <div class="small-12 medium-4 large-4 columns">
                    <li id="facebook"><a href="https://www.facebook.com/pages/Noam-Chomsky/294468630182">Facebook</a></li>
                    </div>
                    <div class="small-12 medium-4 large-4 columns">
                    <li id="subscribe"><a href="https://www.google.com/">Subscribe</a></li>	
                    </div>
                </ul>
                
    </section><!--This ends section class="buttons"-->
    
    <nav>
        <ul class="bottomnav">
            
            <li><a href="/articles">Articles</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/offers">Offers</a></li>
            <li><a href="/bio">Bio</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav> 
 </footer>       
