<article>
	
	<div class="small-12 medium-12 large-12 columns">
    
    	<section class="bio">
        	
        		<p>&ldquo;I think it only makes sense to see out and identify structures of authority, hierarchy, and domination in every aspect of life, and to challenge them; unless a justification for them can be given, they are illegitimate, and should be dismantled to increase the scope of human freedom.&rdquo;</p>
        	<p><span class="quoteauthor">Noam Chomsky</span></p>
        	<p><span class="biointro">Born in Philadelphia on December 7, 1928, Noam Chomsky was an intellectual prodigy who went on to earn a PhD in linguistics at the University of Pennsylvania.</span></p>
        <a href="/bio">Read More</a>
    	</section><!--This ends section class="bio"-->
        
    </div><!--This ends the first div class-->
    
    
    <section class="trailer-links">
        <div class="small-12 medium-4 large-4 columns">
        
            <section class="offers">
                <h1><span class="title1">Manufacturing</span><br /><span class="title2">Consent</span></h1>
                <p>25 Year <br />Anniversary <br /> Edition</p>
                <a href="/offers">Get Yours</a>
            </section><!--This ends section class="offer"-->
            
        </div><!--This ends the second div class-->
        
        <div class="small-12 medium-4 large-4 columns">
            <section class="books">
                <h2>Hundreds of books published that bring forth the facts.</h2>
                <a href="/books">Find One</a>
            </section><!--This ends section class="books"-->
            
        </div><!--This ends the third div class-->
        
        <div class="small-12 medium-4 large-4 columns">
            <section class="articles">
                <h3>Enough articles to fill up your local newspaper, now matter where you live.</h3>
                <a href="/articles">The Latest</a>
            </section><!--This ends section class="articles"-->
            
        </div><!--This ends the fourth div class-->
    </section><!--This ends the parent dive for all global trailer links: 'offers','books','articles'-->
    
</article>
