<div class="small-12 medium-8 large-8 columns">
    <section class="offerspage">
            <h1>25 Years | Manufacturing Consent</h1>
            <p>We have specially redesigned a 25 year anniversary of Edward S. Herman's and Noam Chomsky's riveting work, Manufacturing Consent. This hardcover release will be yours for the price of $29.95 and includes a new introduction from the authors.</p>
            <a href="/offers">Buy it Here</a>
    </section><!--This ends section class="offerspage"-->
</div><!--This ends the first div class-->

<div class="small-12 medium-4 large-4 columns">
    <section class="biosection">
            <p>Born in Philadelphia on December 7, 1928, Noam Chomsky was an intellectual prodigy who went on to earn a PhD in linguistics at the University of Pennsylvania.</p>
            <a href="/bio">Read More</a>
    </section><!--This ends section class="biosection"-->
</div><!--This ends the second div class-->

 <div class="small-12 medium-4 large-4 columns">
        <section class="books2">
            	<h2>Hundreds of books published that bring forth the facts.</h2>
                <a href="/books">Find One</a>
            </section><!--This ends section class="books2"-->
            
     </div><!--This ends the third div class-->
        
     <div class="small-12 medium-4 large-4 columns">      
            <section class="articles2">
            	<h3>Enough articles to fill up your local newspaper, now matter where you live.</h3>
                <a href="/articles">The Latest</a>
            </section><!--This ends section class="articles"-->
            
      </div><!--This ends the third div class-->