/* ------------ DEFAULTS ------------------*/

@font-face {
    font-family: 'winterthurcondensed';
    src: url('../fonts/WinterthurCondensed-webfont.eot');
    src: url('../fonts/WinterthurCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WinterthurCondensed-webfont.woff') format('woff'),
         url('../fonts/WinterthurCondensed-webfont.ttf') format('truetype'),
         url('../fonts/WinterthurCondensed-webfont.svg#winterthurcondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chanticleerromanregular';
    src: url('../fonts/CHANTICL-webfont.eot');
    src: url('../fonts/CHANTICL-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CHANTICL-webfont.woff') format('woff'),
         url('../fonts/CHANTICL-webfont.ttf') format('truetype'),
         url('../fonts/CHANTICL-webfont.svg#chanticleerromanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header {
	height: 50%;
	max-width: none !important;
	background: #000 url(/images/header.jpg) no-repeat left top;
	background-size: 90%;
	margin: 0;	
}

.header p {
	margin: 0;
	padding: 15% 50% 10% 10%;
	font-size: 1.5em;
	color: #FFF;
}

body,html {
height:100%;
}

.row {
	max-width: none !important;
}

body {
	margin:0 auto;
	font-family: 'chanticleerromanregular', 'Minion Pro', Georgia, serif;
	background-image: url(/images/background.jpg);
	font-size: 1em;
	line-height: 1.25;	
}

h1 {
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	color: #FFF;	
}

.top-bar {
	background-color: #000;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
}

.top-bar-section li a:not(.button) {
	background-color: #000;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: 1.5em;
}

.top-bar .name {
	background: black;
}

.columns {
	padding: 0;
}

/*This begins the "HOME" page CSS markup*/


.bio {
	max-width: none !important;
	background: url(/images/bio-960px.jpg) no-repeat center top;
	background-size: 100%;
	background-color: #280605;
	width: 100%;
}

.bio p:first-of-type {
	font-size: 1.5em;
	line-height: 1.25em;
	color: #fff;
	padding: 5% 5% 5% 30%;
}

.quoteauthor {
	font-size: 1.25em;
	line-height: 1.5em;
	color: #fff;
	padding: 0 0 0 40%;
}

.bio p:last-of-type {
	font-size: 1em;
	line-height: 1.25em;
	color: #fff;
	padding: 3% 3% 3% 40%;
}



.bio a:link, .bio a:visited {
	display: block;
	padding: 0 5% 2% 40%;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.bio a:hover, .bio a:active {
	display: block;
	padding: 0 5% 2% 40%;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}



/*--This begins the "offers" link--*/

/*-----This begins the offers link on the bio page------------*/
.offers {
	background-image: url(/images/offers-960px.jpg);
	float: left;
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.offers p {
	margin: 0 auto;
	text-align: center;
	width: 80%;
	padding: 5% 0 0 0;
	font-size: 2em;
	color: #FFF;
	border-top: solid 1px #fff;
	line-height: 1em;
}

.offers h1 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.5em;	
	margin: 0 auto;
	text-align: center;
	padding: 10% 5% 0 5%;
	line-height: 1.5em;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
}

.offers a:link, .offers a:visited {
	display: block;
	float: right;
	/*--padding: 10% 5% 2% 0;--*/
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.offers a:hover, .offers a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}

.offers2 {
	background-image: url(/images/offers-960px.jpg);
	float: left;
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.offers2 p {
	margin: 0 auto;
	text-align: center;
	width: 80%;
	padding: 5% 0 0 0;
	font-size: 2em;
	color: #FFF;
	border-top: solid 1px #fff;
	line-height: 1em;
}

.offers2 h1 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.5em;	
	margin: 0 auto;
	text-align: center;
	padding: 10% 5% 0 5%;
	line-height: 1.5em;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
}

.offers2 a:link, .offers2 a:visited {
	display: block;
	float: right;
	/*--padding: 10% 5% 2% 0;--*/
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.offers2 a:hover, .offers2 a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}
/*--------This is the end of the offers link on bio page------------*/


/*--This begins the "books" link--*/


.books {
	background-image: url(/images/books-960px.jpg);
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.books h2 {
	width: 70%;
	padding: 10% 5% 5% 5%;
	font-size: 1.5em; 
	color: #fff;
	font-family: 'chanticleerromanregular', 'Minion Pro', Georgia, serif;
	margin: 0 auto;
	text-align: center;
}	

.books a:link, .books a:visited {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.books a:hover, .books a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}

/*---------This begins the second books link in the bio page---------*/


.books2 {
	background-image: url(/images/books-960px.jpg);
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.books2 h2 {
	width: 70%;
	padding: 10% 5% 5% 5%;
	font-size: 1.5em; 
	color: #fff;
	font-family: 'chanticleerromanregular', 'Minion Pro', Georgia, serif;
	margin: 0 auto;
	text-align: center;
}	

.books2 a:link, .books2 a:visited {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.books2 a:hover, .books2 a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}

/*-----This ends the books link on the bio page-------*/

/*--This begins the "articles" link--*/



.articles {
	background-image: url(/images/articles-960px.jpg);
	float: left;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.articles h3 {
	width: 70%;
	padding: 10% 5% 5% 5%;
	font-size: 1.5em; 
	color: #fff;
	font-family: 'chanticleerromanregular', 'Minion Pro', Georgia, serif;
	margin: 0 auto;
	text-align: center;
}	

.articles a:link, .articles a:visited {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.articles a:hover, .articles a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}

/*-----------This begins the articles link on the bio page----------*/

.articles2 {
	background-image: url(/images/articles-960px.jpg);
	float: left;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.articles2 h3 {
	width: 70%;
	padding: 10% 5% 5% 5%;
	font-size: 1.5em; 
	color: #fff;
	font-family: 'chanticleerromanregular', 'Minion Pro', Georgia, serif;
	margin: 0 auto;
	text-align: center;
}	

.articles2 a:link, .articles2 a:visited {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.articles2 a:hover, .articles2 a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}

/*This ends the articles link on the bio page*/

/*This begins the biosection link inside of the offers page*/

.biosection {
	background-image: url(/images/articles-960px.jpg);
	float: left;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.biosection p {
	width: 70%;
	padding: 10% 5% 25% 5%;
	font-size: 1.5em; 
	color: #fff;
	font-family: 'chanticleerromanregular', 'Minion Pro', Georgia, serif;
	margin: 0 auto;
	text-align: center;
}	

.biosection a:link, .biosection a:visited {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.biosection a:hover, .biosection a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}

/*This ends the biosection link on the offers page.*/

/*This is the books page*/

.bookpage {
	float: left;	
	padding: 0 5%;
}


/*This ends the books page markup*/

/*This is the articles page*/

.articlespage {
	float: left;	
	width: 100%;
	padding: 0 0 0 10%
}

.articlespage h1 {
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	color: #FFF;
	padding: 0;	
	font-size: 2em;
	line-height: .5em;
	margin: 5% 0 0 0
}


.articlespage li:nth-child(odd) {
	margin: 0;
	list-style-type: none;
	display: block;
	padding: 5% 10% 0 0;
	line-height: .55em;
}

.articlespage li:nth-child(even) {
	padding: 0 5% 2% 5%;
	list-style-type: none;
}

.articlespage a:link, .articlespage a:visited {
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: 1.25em;
	line-height: 1em;
	color: #FFF;	
	text-decoration: none;	
	display: block;
}

.articlespage a:hover, .articlespage a:active {
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: 1.25em;
	line-height: 1em;
	color: #838383;	
	text-decoration: none;	
	display: block;
}



/*This ends the articles page markup*/



/*---------------This begins the "buttons" and "bottom nav"------------*/

.buttons {
	width: 100%;
		
}

.buttons1 {
	margin: 0 auto;
	padding: 5%;
	height: 60px;
	clear: both;
}

.buttons li {
	list-style-type: none;	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	
}

.buttons a {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 15px;
	background-image: url(/images/buttons.jpg);
}



#amazon {
	width: 135px;
	height: 36px;
}

#amazon a:link, #navHome a:visited {
	background-position: 0 0;	
}

#amazon a:hover, #navHome a:active {
	background-position: 0 -36px;	
}

#amazon a.selected {
	background-position: 0 -120px;
}

#facebook {
	width: 135px;
	height: 36px;
	
}

#facebook a:link, #navHome a:visited {
	background-position: -135px 0;	
}

#facebook a:hover, #navHome a:active {
	background-position: -135px -36px;	
}

#facebook a.selected {
	background-position: -135px -120px;
}

#subscribe {
	width: 135px;
	height: 36px;
	
}

#subscribe a:link, #navHome a:visited {
	background-position: -270px 0;	
}

#subscribe a:hover, #navHome a:active {
	background-position: -270px -36px;	
}

#subscribe a.selected {
	background-position: -270px -120px;
}


footer {
	width: 100%;
	margin: 0 auto;
}

.bottomnav {
	margin: 0 auto;
	padding: 5% 0 0 0;
	width: 70%;
	height: 32px;
}

.bottomnav li {
	list-style-type: none;	
	float: right;
	padding: 0 5%;
	margin: 0 1% 0 0;
}


.bottomnav a {
	color: white;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
}

.bottomnav a:hover {
	color: grey;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
}




#smallamazon {
	width: 51px;
	height: 32px;
}

#smallamazon a:link, #navHome a:visited {
	background-position: -238px 0;	
}

#smallamazon a:hover, #navHome a:active {
	background-position: -238px -32px;	
}

#smallamazon a.selected {
	background-position: -238px -64px;
}

#smallfacebook {
	width: 54px;
	height: 32px;
}

#smallfacebook a:link, #navHome a:visited {
	background-position: -292px 0;	
}

#smallfacebook a:hover, #navHome a:active {
	background-position: -292px -32px;	
}

#smallfacebook a.selected {
	background-position: -292px -64px;
}

#smallsubscribe {
	width: 54px;
	height: 32px;
}

#smallsubscribe a:link, #navHome a:visited {
	background-position: -349px 0;	
}

#smallsubscribe a:hover, #navHome a:active {
	background-position: -349px -32px;	
}

#smallsubscribe a.selected {
	background-position: -349px -64px;
}


/*--------------This begins the "Bio" page-----------*/


.biopage {
	padding: 0 5% 0 5%;
}


.offers2 {
	background-image: url(/images/offers-640px.jpg);
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

.books2 {
	background-image: url(/images/books-640px.jpg);
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

.articles2 {
	background-image: url(/images/articles-640px.jpg);
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*--------------This begins the "Offers" page-----------*/

.offerspage {
	background: url(/images/offers-960px.jpg) no-repeat center bottom;
	float: left;
	width: 100%;
	min-height: 993px;
	
}

.offerspage h1 {
	width: 100%;
	padding: 10% 0 5% 20%;
	margin: 0;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: 2.5em;
	line-height: 1em;
}

.offerspage p {
	width: 100%;
	padding: 0 13% 0 20%;
	color: #fff;
}

.offerspage a:link, .offerspage a:visited {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #FFF;	
	text-decoration: none;	
}

.offerspage a:hover, .offerspage a:active {
	display: block;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: 'winterthurcondensed', Helvetica, Arial, sanserif;
	font-size: .95em;
	color: #838383;	
	text-decoration: none;	
}

.biosection {
	background-image: url(/images/bio-640px.jpg);
	float: right;
	
}

.bookpage a {
	padding: 0 0 5% 0;
	margin: 0 0 5% 0;
}

.bookpage h1 {
	padding: 5% 0 0 0;
}

/* This begins the links styling for even alignment on bottom edge */


/* MOBILE STYLSE */
/*@media only screen and (max-width: 40em) {
	.header {
	height: 50%;
	max-width: none !important;
	background: #000 url(/images/header-640px.jpg) no-repeat left bottom;
	background-size: 90%;
	margin: 0;	
}

	.bio {
	max-width: none !important;
	background: url(/images/bio-640px.jpg) no-repeat left bottom;
	background-size: 100%;
	width: 100%;
	
}

	.offers {
	background-image: url(/images/offers-640px.jpg) no-repeat right bottom;
	background-size: 80%;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

	.books {
	background-image: url(/images/books-640px.jpg) no-repeat right bottom;
	background-size: 80%;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

	.articles {
	background-image: url(/images/articles-640px.jpg);
	float: left;
	margin: 0;
	padding: 0;
}

.offers2 {
	background-image: url(/images/offers-640px.jpg);
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

.books2 {
	background-image: url(/images/books-640px.jpg);
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

.articles2 {
	background-image: url(/images/articles-640px.jpg);
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

	

}*/

/* MEDIUM SCREEN STYLSE OR TABLET */
/*@media only screen and (min-width: 40.063em)
@media only screen and (max-width: 64em) {
	.header {
	height: 50%;
	max-width: none !important;
	background: #000 url(/images/header-960px.jpg) no-repeat left bottom;
	background-size: 90%;
	margin: 0;	
}

	.bio {
	max-width: none !important;
	background: url(/images/bio-960px.jpg) no-repeat left bottom;
	background-size: 100%;
	width: 100%;
}

	.offers {
	background-image: url(/images/offers-960px.jpg) no-repeat right bottom;
	background-size: 80%;
	float: left;
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

	.books {
	background-image: url(/images/books-960px.jpg) no-repeat right bottom;
	background-size: 80%;
	float: left;
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

	.articles {
	background-image: url(/images/articles-960px.jpg);
	float: left;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

}*/

/* DESKTOPS */
/*@media only screen and (min-width: 64.063em) {
/* @media only screen and (max-width: 90em) 
	.header {
	height: 50%;
	max-width: none !important;
	background: #000 url(/images/header-1100px.jpg) no-repeat left bottom;
	background-size: 90%;
	margin: 0;	
}

	.bio {
	max-width: none !important;
	background: url(/images/bio-1100px.jpg) no-repeat left bottom;
	background-size: 100%;
	width: 100%;
}


	.offers {
	background-image: url(/images/offers-1100px.jpg) no-repeat right bottom;
	background-size: 80%;
	float: left;
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}	

	.books {
	background-image: url(/images/books-1100px.jpg);
	background-size: 100%;
	float: left;
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

	.articles {
	background-image: url(/images/articles-1100px.jpg);
	float: left;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

}


/* LARGE DESKTOPS 
@media only screen and (min-width: 90.063em) {

} */